body{
/*    background: white url("images/background.png");*/
	background-color: #fff;
}
.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Satisfy', cursive;
}

.thumbnail img {
    height:175px;
    width:100%;

	max-width: 323.33px;
}

.no-margin{
	margin: 0;
}

.no-padding{
	padding: 0;
}

.thumbnail{
	max-width: 327.33px;

}

#manufacturers-container {
    background-color:#fff;
    padding-top: 10px;

}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.red{
	background-color: #b23221;

}

.blue{
	background-color: #2e51d1;

}

.white{
	background-color: #f4f4f4;

}

.green{
	background-color: #7de54e;

}

.b1{
}