

body{
/*    background: white url("images/background.png");*/
	background-color: #fff;
}
.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Satisfy', cursive;
}

.thumbnail img {
    height:175px;
    width:100%;
}